*{
    margin: 0%;
    padding: 0%;
}
.all{
    font-size: 62.5%;
    color: yellow;
    background: red;
    height: 100px;
    display: flex;
    border: 2px solid orange;
}
.box{
    padding: 20px;
    margin: 10 0 auto;
    
}
.box1{
    background: lawngreen;
    flex: 0%;
}
.box2{
    background: lightgray;
    flex: 0%;
}
.box3{
    background: lime;
    flex: 0%;
}
.box4{
    background: lightpink;
    flex: 0%;
   
}